doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p P-Tag

    input#tb1(type='text')

    button#btn Click Me
    button#btn2 Click Me Too
    button#btn3  Click me Third
    button#btn4  Remove this Garbage
    button#btn5 Toggle Class
    button#btn6 Button 6
    button#btn7 Button 7

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
